@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.button--color {
  background: #13183f;
}
.button--color:hover {
  background: #666ca3;
}

.button--gradient-1 {
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
}

.button--gradient-1:hover {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
}

.button--gradient-2 {
  background: linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
}

.button--gradient-2:hover {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
}
